* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.links {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: auto auto;
    column-gap: 30px;
    padding: 20px 30px 0px 0px;
}
.nav-links {
    text-decoration: none;
    font-family: roboto-regular, arial, sans-serif;
    color: #333333;
}
.search-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 237px;
}
#google-logo {
    width: 272px;
    height: 92px;
    position: relative;
}
#search-wrapper {
    position: relative;
    top: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.logo-wrapper {
    position: relative;
}
.images-label {
    position: relative;
    text-align: right;
    top: -20px;
    right: 5px;
    color: #4285F4;
    font-weight: 400;
    font-family: roboto-regular, arial, sans-serif;
}
#search-bar {
    height: 44px;
    width: 530px;
    border-radius: 22px;
    font-size: 16px;
    margin-top: 25px;
    padding: 0px 5px 0px 45px;
    outline: 1px solid rgb(232, 229, 229);
    border: 0;
    background-image: url(magnifying-glass-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: 20px 14px;
}
#search-bar:hover {
    box-shadow: 0px 0px 5px 1px lightgray;
}
.submit-wrapper {
    display: grid;
    margin-top: 33px;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 13px;
}
.submit-button {
    height: 35px;
    min-width: 60px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-family: Roboto,arial,sans-serif;
    color: #3c4043;
    border-radius: 4px;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}
.submit-button:hover {
    box-shadow: 0px 0px 5px 0.5px lightgray;
}
.adv-search-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 150px 570px 500px;
    font-family: Arial, sans-serif;
    column-gap: 20px;
    margin-left: 45px;
}
.adv-search-instruction {
    font-size: 13px;
    margin-right: 20px;
}
.adv-search-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
}
#adv-search-header {
    color: #d93025;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 5px;
}
.adv-search-input {
    height: 28px;
    padding-left: 7px;
    border: 0;
    outline: 1px solid rgba(142, 142, 142, 0.5);
    border-radius: 1px;
}
.adv-search-line {
    border: 1px solid rgba(227, 224, 224, 0.25);
}
.input-header-wrapper {
    display: grid;
    grid-template-columns: 150px 570px 500px;
    margin-left: 45px;
    margin-top: 20px;
}
.adv-search-input:focus {
    box-shadow: inset 0px 1px 1px 1px rgba(62, 70, 82, 0.25);
    outline: 1px solid rgb(122, 151, 228);
}
.example-input {
    font-size: 11px;
}
.example-font {
    font-family: monospace;
    font-size: 11px;
    margin-left: 8px;
}
#adv-search-button {
    background-color: #4d90fe;
    width: 120px;
    height: 30px;
    color: white;
    border: 1px solid #3079ed;
    text-align: center;
    margin-left: 450px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 11px;
}
@media screen and (max-width: 800px) {
    #search-bar {
        width: 75vw;
    }
    .search-container {
        margin-top: 120px;
    }
}